body{
    background: papayawhip;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    display: block;
    margin:  50px auto;
}
::placeholder{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
fieldset{
    background: olivedrab;
    border: none;
    display: block;
    margin: 0 auto;
    text-shadow: 0px 0px 1px black;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 4px;
}
.container{
    text-align: center;
}
.header{
    font-style: italic;
}
.main{
    margin-left: 20px;
}
#input{
    margin-top: 20px;
    padding: 10px 80px;
    border: none;
    border-radius: 2px;
    margin-bottom: 10px;
}
#input:hover{
    border: 4px solid papayawhip;
}
#search-text{
    font-style: italic;
    text-align: center;
    color: white;
    font-size: 30px;
}
#search{
    background: papayawhip;
    padding: 8px 30px;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    color: olivedrab;
    text-shadow: 0px 0px 2px papayawhip;
}
#cur{
    background: papayawhip;
    padding: 8px 30px;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    color: olivedrab;
    text-shadow: 0px 0px 2px papayawhip; 
}
#search:hover{
    border: 4px solid white;
}
.section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.last{
    font-style: italic;
    float: right;
    margin-bottom: -20px;
}
 #source{
    color: olivedrab;
    text-shadow: 0px 0px 4px papayawhip;
    text-decoration: none;
}
 #source:hover{
    text-decoration: underline;
}
#mycode{
    color: rgb(86, 13, 13);
    text-shadow: 0px 0px 4px papayawhip;
    float: right;
}
strong{
    font-size: 50px;
}
#convert{
    font-size: 22px;
    position: relative; 
    top: -25px;
 }
 #des{
    text-transform: capitalize;
 }
 #name{
    display: flex;
    margin-left: -30px;
 }
 .active{
    color: papayawhip;
    cursor: default;
 }
 .active:hover{
    text-decoration: none;
 }
 